<a href="https://colab.research.google.com/github/410601164/introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i=0
result=0
while i <=50:
  if i%2 == 0:
    result +=i
  i +=1
print("0-50的偶數和結果是%d" % result)

0-50的偶數和結果是650

In [3]:
i=0
result=0
while i <=50:
  if i%2 != 0:
    result +=i
  i +=1
print("0-50的奇數和結果是%d" % result)

0-50的奇數和結果是625

In [6]:
n =int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:5
*****
****
***
**
*

In [7]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [8]:
print(list5[1])

['mary', 'abcd']

In [9]:
print(list5[0])

[['tom', '1234']]

In [11]:
print(list5[1][1])

abcd

In [12]:
print(list5[0][0])

['tom', '1234']

In [13]:
print(list5[1][0])

mary

In [17]:
scores=[85,79,93]
print("國文成績: %d 分" % scores[0])
print("數學成績: %d 分" % scores[1])
print("英文成績: %d 分" % scores[2])

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [18]:
list6=[1,2,3,4,5]

In [19]:
print(list6[0])

1

In [23]:
list6[0]=9

In [24]:
print(list6[0])

9

In [26]:
list6

[9, 2, 3, 4, 5]

In [27]:
list7=["香蕉","蘋果","橘子"]

In [28]:
for s in list7:
  print(s,end=",")

香蕉,蘋果,橘子,

In [38]:
items=[123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [41]:
scores=[85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [45]:
scores=["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(scores)):
  print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [50]:
ae=["編號:1姓名:Tom","編號:2姓名:Mary","編號:3姓名:Tony"]
for i in range(len(ae)):
  print(ae[i])

編號:1姓名:Tom
編號:2姓名:Mary
編號:3姓名:Tony